.button{
    background-color: #840FCC;
    color: #FFFF;
}
.button2{
    background-color: #ffffff;
    color: #000000;
}
.button:hover{
    background-color: #000153;
    color: #ffffff;
}
.button2:hover{
    background-color: #000000;
    color: #ffffff
}
.left{
    background-color: #E0CEFF;
}
.right{
    background-color: #00255C;
}
.heighty{
    margin: auto;
}
.welcome{
    color: #B287FF;
    font-size:large;
    
}
.create_text{
    color: #C7A8FF;
    font-size: small;
}
.form_box{
    background-color: #E5D7FF;
}
.forgot{
    font-size: smaller;
    color: #b8b6b6;
}
.stones{
    transform: scaleX(-1);
}