.profilebanner {
  color: blanchedalmond;
  background-image: url("../../assets/svg/profile_back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 90px;
  width: 100%;
  height: 60px;

  border-bottom: solid 340px transparent;
  border-top: solid 230px transparent;
}
.idea {
  background-image: url("../../assets/svg/ideas.svg");
  /* background-position: center; */
  /* background-repeat:repeat; */
  /* background-size:300px 200px; */
  height: 200px;
  bottom: 0;
  /* width:200px */
}

.color {
  background-color: #d6beff;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}
.box {
  margin-top: 140px;
}

.profileimage {
  position: absolute;
  height: 270px;
  top: -120px;
  filter: drop-shadow(15px 1px 4px #00255c);
  border-radius: 50%;
}
