body { 
  /* background: url("https://i.pinimg.com/originals/b9/a4/72/b9a4728e52319ea939038d95506d01cd.jpg"); */
	background: midnightblue; 
	overflow-x:hidden;
}

.formsize{
  width : "20%";
}
.button2{
  background-color: #ffffff;
  color: #000000;
}
.button:hover{
  background-color: #000153;
  color: #ffffff;
}
.button2:hover{
  background-color: #000000;
  color: #ffffff
}
.right{
  background-color: #00255C;
}
.heighty{
  margin: auto;
}
.welcome{
  color: #B287FF;
  font-size:large;
  
}
.create_text{
  color: #C7A8FF;
  font-size: small;
}
.form_box{
  background-color: #E5D7FF;
}
.stones{
  transform: scaleX(-1);
}

