.links:hover{
    text-decoration: none;    
    color: white;
    filter: grayscale(100);
}
.links{
    color: #2E008E;
    font-weight:500;
}

.hoveritem:hover{
    background-color: #B287FF;
}




